//Colors
$my-dark-blue: #051e34;
$my-light: #AABDBF;
$my-contrast:#5E5B8C;
//Changing Bootstrap
// $color-contrast-dark:      $my-light !default;
// $color-contrast-light:     $my-dark-blue !default;
 $pagination-color:         $my-dark-blue !default;
// $pagination-hover-bg:   $my-dark-blue !default;
// $pagination-focus-bg:   $my-dark-blue !default;
 $pagination-active-bg: $my-dark-blue !default;