@use './partials/variables' as *;

$fa-font-path: '../webfonts';

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'bootstrap/scss/bootstrap';

//TEXT
.my-text{
    color: $my-dark-blue;
}
.my-light-text{
    color: $my-light;
}
//BG
.my-dark-bg{
    background-color: $my-dark-blue;
}
.my-light-bg{
    background-color: $my-light;
}
header, footer{
    a, .nav-link {
        color: $my-light;
      
        &:hover {
          color: white;
        }
      }
}
.card{
    border-radius: 20px;
    border-color: $my-light;
    overflow: hidden;
}
.container.main-cont{
    height: calc(100vh - 120px);
}
main{
    margin-bottom: 50px;
    margin-top: 70px;
}